@tailwind base;
@tailwind components;
@tailwind utilities;

.kumbhFont{
    font-family: 'Kumbh Sans', sans-serif;
}
.bgCustom{
    background: linear-gradient(180deg, #FBDA61 0%, #FF5ACD 100%);
}
.shadowCustom{
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
}

.accordion:after {
  content: '\002B';
  color: #FF5ACD;
  float: right;
}

.active:after {
  content: "\2212";
}


.active{
    font-weight: bold;
}
.boxAcc {
  transition: max-height 0.2s ease-out;
}